h1{
text-align: center;
font-weight: 600;
    letter-spacing: -0.01em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
 font-family: cursive;
}

:root {
    background-color: cadetblue;
}

img{
    border-radius: 50px;
}



